Web References/MsNavInvSetup/InventorySetup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/inventorysetup" targetNamespace="urn:microsoft-dynamics-schemas/page/inventorysetup" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/inventorysetup" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Automatic_Cost_Adjustment">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Never" />
          <xsd:enumeration value="Day" />
          <xsd:enumeration value="Week" />
          <xsd:enumeration value="Month" />
          <xsd:enumeration value="Quarter" />
          <xsd:enumeration value="Year" />
          <xsd:enumeration value="Always" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Average_Cost_Calc_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="Item__x0026__Location__x0026__Variant" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Average_Cost_Period">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Day" />
          <xsd:enumeration value="Week" />
          <xsd:enumeration value="Month" />
          <xsd:enumeration value="Quarter" />
          <xsd:enumeration value="Year" />
          <xsd:enumeration value="Accounting_Period" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="InventorySetup">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Automatic_Cost_Posting" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expected_Cost_Posting_to_G_L" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Automatic_Cost_Adjustment" type="tns:Automatic_Cost_Adjustment" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Average_Cost_Calc_Type" type="tns:Average_Cost_Calc_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Average_Cost_Period" type="tns:Average_Cost_Period" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Copy_Comments_Order_to_Shpt" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Copy_Comments_Order_to_Rcpt" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Outbound_Whse_Handling_Time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Inbound_Whse_Handling_Time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Mandatory" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_Group_Dimension_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Nonstock_Item_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_Order_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posted_Transfer_Shpt_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posted_Transfer_Rcpt_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Inventory_Put_away_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posted_Invt_Put_away_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Inventory_Pick_Nos" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posted_Invt_Pick_Nos" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InventorySetup_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="InventorySetup" type="tns:InventorySetup" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="InventorySetup_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Automatic_Cost_Posting" />
          <xsd:enumeration value="Expected_Cost_Posting_to_G_L" />
          <xsd:enumeration value="Automatic_Cost_Adjustment" />
          <xsd:enumeration value="Average_Cost_Calc_Type" />
          <xsd:enumeration value="Average_Cost_Period" />
          <xsd:enumeration value="Copy_Comments_Order_to_Shpt" />
          <xsd:enumeration value="Copy_Comments_Order_to_Rcpt" />
          <xsd:enumeration value="Outbound_Whse_Handling_Time" />
          <xsd:enumeration value="Inbound_Whse_Handling_Time" />
          <xsd:enumeration value="Location_Mandatory" />
          <xsd:enumeration value="Item_Group_Dimension_Code" />
          <xsd:enumeration value="Item_Nos" />
          <xsd:enumeration value="Nonstock_Item_Nos" />
          <xsd:enumeration value="Transfer_Order_Nos" />
          <xsd:enumeration value="Posted_Transfer_Shpt_Nos" />
          <xsd:enumeration value="Posted_Transfer_Rcpt_Nos" />
          <xsd:enumeration value="Inventory_Put_away_Nos" />
          <xsd:enumeration value="Posted_Invt_Put_away_Nos" />
          <xsd:enumeration value="Inventory_Pick_Nos" />
          <xsd:enumeration value="Posted_Invt_Pick_Nos" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="InventorySetup_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:InventorySetup_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="InventorySetup" type="tns:InventorySetup" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:InventorySetup_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:InventorySetup_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="InventorySetup" type="tns:InventorySetup" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="InventorySetup" type="tns:InventorySetup" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="InventorySetup_List" type="tns:InventorySetup_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="InventorySetup_List" type="tns:InventorySetup_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <portType name="InventorySetup_Port">
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
  </portType>
  <binding name="InventorySetup_Binding" type="tns:InventorySetup_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/inventorysetup:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/inventorysetup:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/inventorysetup:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/inventorysetup:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/inventorysetup:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/inventorysetup:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="InventorySetup_Service">
    <port name="InventorySetup_Port" binding="tns:InventorySetup_Binding">
      <address location="http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/InventorySetup" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>