Web References/MsProdOrderLineList/ProdOrderLineList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/prodorderlinelist" targetNamespace="urn:microsoft-dynamics-schemas/page/prodorderlinelist" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/prodorderlinelist" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Simulated" />
          <xsd:enumeration value="Planned" />
          <xsd:enumeration value="Firm_Planned" />
          <xsd:enumeration value="Released" />
          <xsd:enumeration value="Finished" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ProdOrderLineList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prod_Order_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Variant_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shortcut_Dimension_1_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shortcut_Dimension_2_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_3_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_4_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_5_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_6_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_7_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_8_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Finished_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Remaining_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Scrap_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Due_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Starting_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Starting_Time" type="xsd:time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ending_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ending_Time" type="xsd:time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Production_BOM_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cost_Amount" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProdOrderLineList_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="ProdOrderLineList" type="tns:ProdOrderLineList" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ProdOrderLineList_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="Prod_Order_No" />
          <xsd:enumeration value="Item_No" />
          <xsd:enumeration value="Variant_Code" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Description_2" />
          <xsd:enumeration value="Shortcut_Dimension_1_Code" />
          <xsd:enumeration value="Shortcut_Dimension_2_Code" />
          <xsd:enumeration value="ShortcutDimCode_x005B_3_x005D_" />
          <xsd:enumeration value="ShortcutDimCode_x005B_4_x005D_" />
          <xsd:enumeration value="ShortcutDimCode_x005B_5_x005D_" />
          <xsd:enumeration value="ShortcutDimCode_x005B_6_x005D_" />
          <xsd:enumeration value="ShortcutDimCode_x005B_7_x005D_" />
          <xsd:enumeration value="ShortcutDimCode_x005B_8_x005D_" />
          <xsd:enumeration value="Location_Code" />
          <xsd:enumeration value="Quantity" />
          <xsd:enumeration value="Finished_Quantity" />
          <xsd:enumeration value="Remaining_Quantity" />
          <xsd:enumeration value="Scrap_Percent" />
          <xsd:enumeration value="Due_Date" />
          <xsd:enumeration value="Starting_Date" />
          <xsd:enumeration value="Starting_Time" />
          <xsd:enumeration value="Ending_Date" />
          <xsd:enumeration value="Ending_Time" />
          <xsd:enumeration value="Production_BOM_No" />
          <xsd:enumeration value="Unit_Cost" />
          <xsd:enumeration value="Cost_Amount" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ProdOrderLineList_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:ProdOrderLineList_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Status" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Prod_Order_No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ProdOrderLineList" type="tns:ProdOrderLineList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ProdOrderLineList" type="tns:ProdOrderLineList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:ProdOrderLineList_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:ProdOrderLineList_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <portType name="ProdOrderLineList_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
  </portType>
  <binding name="ProdOrderLineList_Binding" type="tns:ProdOrderLineList_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/prodorderlinelist:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/prodorderlinelist:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/prodorderlinelist:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/prodorderlinelist:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/prodorderlinelist:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="ProdOrderLineList_Service">
    <port name="ProdOrderLineList_Port" binding="tns:ProdOrderLineList_Binding">
      <address location="http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/ProdOrderLineList" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>